build
dist
/cf_remote/VERSION
/cf_remote/__pycache__/
/cf_remote.egg-info/
/venv
/.venv
log
__pycache__/
**/.DS_STORE
/tests/docker/sudo/id_test
/tests/docker/sudo/id_test.pub

# coverage
.coverage.*
.coverage
coverage.xml
